:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #007BFF;
  --destaque-inverso: #88a8c9;
  --fundo-card: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-color: var(--fundo-principal);
    color: var(--texto);
}
header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}